################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SAM_RH/SAM_RH/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
