@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SAM RH </h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Leer más &raquo;</a></p>
    </section>

    <div class="row">
        <div class="text-center">
            <table border="0" width="100%">
                <tr>
                    <td align="center" style="width: 100%">
                        <asp:Image ID="Image1" runat="server" ImageUrl="~/img/logo.png" Width="601px" Height="118px" />
                    </td>
                </tr>
            </table>

            <table border="0" width="100%">
                <tr>
                    <td align="center" style="width: 33%">
                    </td>
                    <td align="center" style="border: 1px solid;">
                        <asp:Label ID="Label3" runat="server" Text="RECURSOS HUMANOS" Font-Size="X-Large"></asp:Label>
                    </td>
                    <td align="center" style="width: 33%">
                    </td>
                </tr>
            </table>


            <table border="0" width="100%">
                <tr><td width="100%" style="height: 30px"></td></tr>

                <tr bgcolor="blue">
                    <td>
                        <asp:Label ID="Label2" runat="server" ForeColor="White" Text="SALUD" Font-Bold="True" Font-Size="Large"></asp:Label>
                    </td>
                </tr>
                <tr><td height: 100%;>&nbsp;</td></tr>
            </table>



            <table border="0" width="100%" style="height: 386px">
                <tr>
                    <td style="border: 1px solid; width:29%">
                        <table border="0">
                            <tr>
                                <td height="280" style="width: 520px">
                                    <!--style="background-color:#A3E4D7"-->
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Contactos Importantes</font>

                                    </p>
                                    <p>
                                        <br>

                                    </p>
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Broker – GMM</font>
                                        <br>
                                        <font face="Arial" color="black" size="2">Gloria Gregorio<br><a href="mailto:glgg@inter.mx">glgg@inter.mx</a></font>

                                    </p>
                                    <p></p>
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Contacto Flex</font>
                                    </p>
                                    <p>
                                        <span style="font-family: Arial; color: #000000; font-size: x-small">&nbsp;</span><font face="Arial" color="black" size="2">Carlos Alberto Tellez Moreno</font><br />
                                        <font face="Arial" color="black" size="2"><a href="mailto:catm@inter.mx">mailto:catm@inter.mx</a></font><br>
                                        <font face="Arial" color="black" size="2"> 55 1015 9623</font>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td width="6%"></td>
                    <td style="border: 1px solid; width:30%">
                        <table border="0" width="100%">
                            <tr>
                                <td height="280">
                                    <p style="font-family: 'Comic Sans MS', Arial, Verdana; font-size: medium; color: #000000">
                                        D<font size="3">esarrollo SAM</font>
                                    </p>
                                    <p style="font-family: 'Comic Sans MS', Arial, Verdana; font-size: medium; color: #000000">
                                        &nbsp;
                                    </p>
                                    <p style="font-family: 'Comic Sans MS', Arial, Verdana; font-size: medium; color: #000000">
                                        <font face="Arial" color="black" size="2"><a href="https://wd3.myworkday.com/santander/d/task/1422$3344.htmld" target="_blank">wd3.myworkday.com</a></font>
                                    </p>

                                    <table BORDER="0" width="100%" style="height: 308px">
                                        <tr>
                                            <td height="240">
                                                <p class="auto-style1">
                                                    <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Dojo </font>
                                                </p>
                                                <p class="MsoNormal">
                                                    <span>Dojo es una plataforma de aprendizaje virtual que te proporciona los contenidos&nbsp;necesarios para el desarrollo de las habilidades de tu función con los que podrás impulsar tu carrera profesional&nbsp;</span>
                                                </p>
                                                <p class="text-center">
                                                    <font face="Arial" color="black" size="2">
                                                        <br>
                                                        <a href="https://santander.yourlearning.ibm.com/" target="_blank">Dojo SAM</a>
                                                    </font>
                                                </p>
                                                <p>
                                                    <font face="Arial" color="black" size="2">
                                                        <a href="pdfs/Guia acceso a Dojo_sep21.pdf" target="_blank">Guía de acceso</a>
                                                    </font>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td width="6%"></td>

                    <td style="border: 1px solid; width:29%">
                        <table border="0" style="width: 100%; height: 278px">
                            <tr>
                                <td height="185">
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Reembolso de Flex Benefit</font>
                                    </p>
                                    <p class="text-left">
                                        <font face="Arial" color="black" size="2">
                                            <br>
                                            <a href="https://personas.osigu.com/login" target="_blank">Personas.osigu.com</a>
                                        </font>
                                    </p>
                                    <p class="text-left">
                                        <font face="Arial" color="black" size="2">
                                            Usuario: correo institucional
                                        </font>
                                    </p>
                                    <p class="text-left">
                                        <font face="Arial" color="black" size="2">
                                            Generar contraseña en la opción “olvidé mi contraseña”
                                            y seguir intrucciones.
                                        </font><br>
                                    </p>
                                    <p class="text-left">
                                        <font face="Arial" color="black" size="2">Es necesario cumplir con los requisitos fiscales del programa y las reglas generales de operación.</font><br>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table border="0" width="100%">
                <tr><td width: 100%;>&nbsp;</td></tr>

                <tr bgcolor="blue">
                    <td>
                        <asp:Label ID="Label1" runat="server" ForeColor="White" Text="INTRANET Y OTROS ENLACES CORPORATIVOS" Font-Bold="True" Font-Size="Large"></asp:Label>
                    </td>
                </tr>

                <tr><td>&nbsp;</td></tr>

            </table>


            <table border="0">
                <tr heigth="60px">
                    <td style="border: 1px solid; width:29%">

                        <table BORDER="0" width="100%">
                            <tr>
                                <td height="240">
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Workday</font>
                                    </p>
                                    <p>
                                        <br>
                                        <font face="Arial" color="black" size="2">
                                            Podrás gestionar: My Contribution, vacaciones, beneficios, equipos de trabajo, información, etc.
                                        </font>
                                    </p>
                                    <p>
                                        <font face="Arial" color="black" size="2">
                                            <a href="https://wd3.myworkday.com/santander/d/home.htmld" target="_blank">MyWorkday</a>
                                        </font>
                                    </p>
                                    <p class="text-left">
                                        <font face="Arial" color="black" size="2">
                                            <br />
                                            Contraseña: Equipo de cómputo
                                            <br />
                                            Es necesario estar conectado a la VPN
                                            <br>
                                        </font>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="6%"></td>

                    <td style="border: 1px solid; width:30%">
                        <table border="0" width="100%">
                            <tr>
                                <td height="240">
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Peoplesoft</font>
                                    </p>
                                    <p>
                                        <br>
                                        <font face="Arial" color="black" size="2">
                                            Podrás consultar: recibos de nómina, estado de cuenta de plan de pensiones y solicitar prestamos personales.
                                        </font>
                                    </p>
                                    <p>
                                        <font face="Arial" color="black" size="2">
                                            <br>
                                            <a href="https://nominasantander.mx.corp:30585/psp/hr91st1/?cmd=login&languageCd=ESP&" target="_blank">Nomina Santander</a>
                                        </font>
                                    </p>
                                    <p>
                                        <font face="Arial" color="black" size="2">
                                            <br>
                                            *                                    Usuario: C o S
                                            <br />
                                            Contraseña: Usuario de Windows a través de Service Desk (55 5174- 1101)

                                            Para desbloqueo de contraseña de windows<br>
                                            Contacto telefónico service desk: 55 5174- 1101<br>
                                        </font>
                                    </p>
                                    <p>
                                        &nbsp;
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td width="6%"></td>

                    <td style="border: 1px solid; width:29%">

                        <table border="0" width="100%">
                            <tr>
                                <td height="240">
                                    <p>
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">Intranet:</font>
                                    </p>
                                    <p>

                                        <asp:HyperLink ID="ONEHR" target="_blank" runat="server" Font-Bold="True" ForeColor="Black" NavigateUrl="https://hrservices.aacc.gs.corp/onehr/#/home">One HR</asp:HyperLink>
                                    </p>


                                    <p>
                                        <asp:HyperLink ID="HL_IntranetLocal" target="_blank" runat="server" Font-Bold="True" ForeColor="Black" NavigateUrl="https://santandernet.sharepoint.com/sites/sandigitalworkplace/SitePages/Start.aspx">Intranet local</asp:HyperLink>
                                    </p>
                                    <h6 class="text-left">
                                        Dominio: GFSSCORP
                                    </h6>
                                    <h6 class="text-left">
                                        Usuario C o S
                                    </h6>
                                    <h6 class="text-left">
                                        Contraseña: Usuario Windows (service desk)
                                    </h6>
                                    <p>
                                        <asp:HyperLink ID="HL_IntranetGlobal" target="_blank" runat="server" Font-Bold="true" ForeColor="Black" NavigateUrl="https://logcorp.aacc.gs.corp/?environment=0&okURI=https%3A%2F%2Fdesktopccorp.aacc.gs.corp%2Fes_ES%2Fgroup%2Fespaciocorporativo%2Fhome-2%3Fp_p_id%3DW000_hidden_WAR_W000_hiddenportlet%26p_p_lifecycle%3D1%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-1%26p_p_col_count%3D2%26_W000_hidden_WAR_W000_hiddenportlet_javax.portlet.action%3DEventLauncherOpMenuAction%26_W000_hidden_WAR_W000_hiddenportlet_base.portlet.view%3DP057MenuCCInitialView%26_W000_hidden_WAR_W000_hiddenportlet_opNivel1%3DCORM-P_EC-N1-HOME2">Intranet Global</asp:HyperLink>
                                    </p>
                                    <h6 class="text-left">
                                        Usuraio cuenta N
                                    </h6>
                                    <h6 class="text-left">
                                        Constraseña es con la que ingresa al equipo (si no permite acceso dar click en olvide contraseña y seguir las instrucciones).
                                    </h6>
                                    <p>
                                        <asp:HyperLink ID="HL_IntranetSAMGlobal" target="_blank" runat="server" Font-Bold="true" ForeColor="Black" NavigateUrl="http://globalintranet.santanderam.corp/">Intranet SAM Global</asp:HyperLink>
                                    </p>
                                    <p>
                                        Usuario N
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
            </table>


            <table border="0" width="100%">
                <tr><td width: 100%;>&nbsp;</td></tr>

                <tr bgcolor="blue">
                    <td>
                        <asp:Label ID="Label4" runat="server" ForeColor="White" Text="FORMACIÓN" Font-Bold="True" Font-Size="Large"></asp:Label>
                    </td>
                </tr>

                <tr><td style="height: 23px"></td></tr>

            </table>


            <table border="0">
                <tr heigth="60px">


                    <td style="border: 1px solid; width:80%">
                        <table border="0" width="100%">
                            <tr>
                                <td height="24" style="width: 100%; text-align: center;">
                                    <p class="auto-style1" style="width: 100%">
                                        <font face="Comic Sans MS,Arial,Verdana" size="3" color="black">CURSOS NORMATIVOS 2023</font>
                                    </p>
                                    <p class="auto-style1" style="width: 100%">
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%">
                                            <colgroup>
                                                <col width="159" />
                                                <col span="2" width="107" />
                                                <col width="91" />
                                                <col width="82" />
                                                <col width="85" />
                                            </colgroup>
                                            <tr height="20">
                                                <td colspan="6" height="20" width="100%" class="text-left" style="font-size: small">Instrucciones: En este apartado podrás encontrar los cursos normativos que debes de realizar correspondientes a tu área, tanto el documento para que puedas estudiar como su respectiva evaluación (Recuerda que son cursos obligatorios)</td>
                                            </tr>
                                            <tr height="20">
                                                <td colspan="6" height="20" width="100%" class="text-left" style="font-size: small">Los cursos puedes encontrarlos en formato PDF y otros te dirigen a DOJO para que puedas buscarlos ahí.<span>&nbsp;</span></td>
                                            </tr>
                                        </table>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <table border="0" width="100%" style="height: 586px">
                            <tr>
                                <td height="240" style="width: 565px">

                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;width:1035px; height: 524px; margin-bottom: 0px;">
                                        <colgroup>
                                            <col style="mso-width-source:userset;mso-width-alt:5814;" />
                                            <col style="mso-width-source:userset;mso-width-alt:3328;" />
                                            <col style="mso-width-source:userset;mso-width-alt:2998;" />
                                            <col style="mso-width-source:userset;mso-width-alt:3108;width:64pt" width="85" />
                                            <col style="mso-width-source:userset;mso-width-alt:3218;width:66pt" width="88" />
                                            <col span="1" />
                                            <col span="1" />
                                            <col span="1" />
                                            <col span="1" />
                                            <col span="1" style="width:60pt" width="80" />
                                        </colgroup>
                                        <tr height="60">
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 45px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;">Cursos</td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 45px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;">Evaluación</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 72pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Todo el personal<span>&nbsp;</span></td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 87px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Directores</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 74px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">L&amp;C</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 73px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Inversiones</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 100px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Operaciones</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 75px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Producto</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 94px; color: black; font-size: 11pt; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Comercial</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 98px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Riesgos</td>
                                            <td style="border: .5pt solid windowtext; background: #C6E0B4; width: 118px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 45px;">Finanzas</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/2.%20Manual%20de%20Conducta.pptx">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionConducta.aspx" target="_blank">Manual de conducta</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 46px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/1.%20CursoPLDCFT.pptx">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 46px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="Evaluaciones/2023/Y2023EvaluacionPLD.aspx" target="_blank">Prevención de lavado de dinero y financiamiento al terrorismo</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/3.Cultura de Riesgos.pptx" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionCulturaRiesgos.aspx" target="_blank">Cultura de riesgos</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/4.%20Partes%20relacionadas.pptx">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionPartesRelacionadas.aspx" target="_blank">Partes relacionadas</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/5.%20Prácticas%20de%20venta.pptx">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionPracticasdeVenta.aspx" target="_blank">Práctica de ventas</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/6.%20Plan%20de%20continuidad%20de%20negocio.pdf" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="Evaluaciones/2023/Y2023EvaluacionPCN.aspx" target="_blank">Plan de continuidad de negocio</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/7.%20Ciberseguridad.pdf" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionCiber.aspx" target="_blank">Ciberseguridad</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/8.%20ProtecciónDatos_y_ManejodelaInformación.pptx" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionLFPDPPP.aspx" target="_blank">Protección de datos</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11pt; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;">Dojo</td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: center; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a runat="server" href="https://santander.yourlearning.ibm.com/" target="_blank">Introducción a la sostenibilidad</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/13.%20Gestores%20de%20Gasto.pdf" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionGestionProveedores.aspx" target="_blank">Gestión de proveedores</a></td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11pt; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;">Dojo</td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a runat="server" href="https://santander.yourlearning.ibm.com/" target="_blank">Curso formación TPRM</a></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr height="20">
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/9.%20VolckerRule.pptx">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionVolcker.aspx" target="_blank">Volcker rule</a></td>
                                            <td style="border: .5pt solid windowtext; background: white; width: 72pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: white; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: white; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 118px;">&nbsp;</td>
                                        </tr>
                                        <tr height="20">
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/10.%20FATCA_y_CRS.pptx">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionCRS.aspx" target="_blank">FATCA &amp; CRS</a></td>
                                            <td style="border: .5pt solid windowtext; background: white; width: 72pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: white; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 73px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: white; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                        </tr>
                                        <tr height="20">
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 25px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/12.%20FxGlobalCode.pptx" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 25px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; width: 206px;"><a href="Evaluaciones/2023/Y2023EvaluacionFXGLOBALCODE.aspx" target="_blank">fx global code</a></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 94px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                        </tr>
                                        <tr height="40">
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 46px; width: 53pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="pdfs/2023/11.%20Cap%20Anual%20CCMV.pptx" target="_blank">Descargar</a></td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 46px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a href="Evaluaciones/2023/Y2023EvaluacionCCMV.aspx" target="_blank">Código de conducta en el mercado de valores</a></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 72pt;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 75px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 98px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                        </tr>
                                        <tr height="40">
                                            <td style="border: .5pt solid windowtext; background: #E2EFDA; height: 46px; width: 53pt; color: black; font-size: 11pt; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;">Dojo</td>
                                            <td style="border: .5pt solid windowtext; background: #E3F2FD; height: 46px; width: 206px; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: normal; padding-left: 1px; padding-right: 1px; padding-top: 1px;"><a runat="server" href="https://santander.yourlearning.ibm.com/" target="_blank">Fundamentos de compromiso ESG Santander </a></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 72pt;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 74px;"></td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 74px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 100px;">&nbsp;</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; background: #9b9b9b; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 25px; width: 72pt;">SI</td>
                                            <td style="border: .5pt solid windowtext; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px; height: 46px; width: 118px;">&nbsp;</td>
                                        </tr>
                                    </table>

                                    <br />
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;width:584pt">
                                        <colgroup>
                                            <col style="mso-width-source:userset;mso-width-alt:8521;width:175pt" width="233" />
                                        </colgroup>
                                        <tr height="20" style="height:15.0pt">
                                            <td height="20" style="border: .5pt solid windowtext; height: 15.0pt; width: 197pt; color: black; font-size: 11.0pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: Calibri, sans-serif; text-align: general; vertical-align: bottom; white-space: nowrap; padding-left: 1px; padding-right: 1px; padding-top: 1px;">Si en la evaluación pasada completaste el curso de fundamentos de compromiso ESG ya no es necesario volver a hacerlo.</td>
                                        </tr>
                                    </table>

                                </td>
                        </table>
                    </td>
            </table>
        </div>


    </div>
</main>